# Server
PORT=6969
HOST=0.0.0.0
CLIENT_ORIGIN=http://localhost:5173

# Database (SQLite url; use file:./path/to/file for development)
DATABASE_URL=file:./data/sqlite.db

# required: 32+ char secret 
AUTH_SECRET=a super duper secret secret
# base URL of this server
SERVER_URL=http://localhost:6969